<h1>Admin panel</h1>
<hr />

<div class="container">
  <h3>Users <%= link_to 'Info', users_path, class: "btn btn-info" %></h3>
  <% @users.map do |user| %>
    <p><%= link_to "#{user.name}", user %></p>
  <% end %>

  <h3>Projects <%= link_to 'Info', projects_path, class: "btn btn-info" %></h3>
  <% @projects.map do |project| %>
    <p><%= link_to "#{project.name}", project %></p>
  <% end %>
</div>
