<h1>New project</h1>
<hr />
<div class="container">
  <p>
      <% if @user %>
        Logged as <i><%= @user.name %></i>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
  </p>
  <%= render 'form' %>
</div>

<%= link_to 'Back', projects_path, class: "btn btn-default" %>
